:root {
    --heading-font: 'Playfair Display', 'Times New Roman', Times, serif;
    --body-font: 'Montserrat', Arial, Helvetica, sans-serif;
    --main-color: rgb(50, 83, 104);
    --main-color-rgb:50, 83, 104;
    --secondary-color: rgb(116, 137, 150);
    --secondary-color-rgb: 116, 137, 150;
    --error-color-rgb: 217, 85, 80;
    --success-color-rgb: 76, 149, 115;
    font-size: 16px;
}

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.wrapper {
    display:flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container {
    display:flex;

}
    
.hero {
    color:#fff;
    background-image: url('img/ardalan-hamedani-QAskBOimPwM-unsplash.jpg');
    background-size: cover;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top, .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 70%;
}
h1, h2, h3 {
    font-family: var(--heading-font);
}
h1 {
    color:#fff;
    position: relative;
    font-size: 3rem;
    font-style: italic;
    white-space:nowrap;
    margin: 1.5rem;
} 
.trademark {
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    top:.5ch;
    right:-1ch;
}

main {
    display:flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    max-width: 960px;
    flex: 1;
}
main > * {
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 5px 2px rgba(var(--secondary-color-rgb), .3);
}
label {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    letter-spacing: 1px;
    color:var(--secondary-color);
    position: relative;
}
input {
    padding:5px;
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 1.1rem;
    border: solid 1px var(--secondary-color);
    border-radius: 5px;
    outline:none;
}
input:focus {
    box-shadow: 1px 1px 3px 1px rgba(var(--secondary-color-rgb), .3);
}
.form-body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: space-between;
}
h2, h3 {
    color: var(--main-color);
}
.required {
    font-style: italic;
    font-size: .8rem;
    color: rgb(var(--main-color-rgb));
}
a, a:active, a:visited {
    color: rgb(var(--secondary-color-rgb));
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.sign-up-button {
    margin-top: 30px;
}

button {
    padding:10px;
    font-size: 1rem;
    background-color: rgb(var(--main-color-rgb));
    font-family: var(--heading-font);
    color:#fff;
    border-radius: 5px;
    border:solid 1px rgb(var(--secondary-color-rgb));
    transition: .2s;
}

button:hover {
    background-color: rgba(var(--main-color-rgb), .9);
    cursor: pointer;
}

.sign-up-button p {
    font-size: .8rem;
}

.invalid {
    border: solid 1px rgb(var(--error-color-rgb));
    transition: ease .1s;
}

.wiggle {
    animation: wiggle .4s;
}

@keyframes wiggle {
    0% {
        translate: 5px;
    }
    10% {
        translate: -5px;
    }
    25% {
        translate: 5px;
    }
    50% {
        translate: -5px;
    }
    75% {
        translate: 5px;  
    }
    100% {
        translate: 0px;
    }
}

.valid {
    border: solid 1px rgb(var(--success-color-rgb));
}

.error {
    margin: 0;
    font-size: .7rem;
    height: 1rem;
    color:rgb(var(--error-color-rgb));
}
i.error-icon, i.success-icon {
    display: none;
    position: absolute;
    right: 7px;
    top:27px;
}
.error-icon {
    color:rgb(var(--error-color-rgb));
}
.success-icon {
    color: rgb(var(--success-color-rgb));
}

.no-subs {
    padding:20px;
    background-color: rgba(var(--secondary-color-rgb),.5);
    font-style: italic;
}