:root {
    --heading-font: 'Playfair Display', 'Times New Roman', Times, serif;
    --body-font: 'Montserrat', Arial, Helvetica, sans-serif;
    --main-color: #1a252c;
    font-size: 16px;
}

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.wrapper {
    display:flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.wrapper > * {
    border: solid 1px;
}
.hero {
    background-image: url('img/ardalan-hamedani-QAskBOimPwM-unsplash.jpg');
    background-size: cover;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px red;
}
.logo {
    width: 50%;
}
h1, h2, h3 {
    font-family: var(--heading-font);
}
h1 {
    color:#fff;
    position: relative;
    font-size: 3rem;
    font-style: italic;
    white-space:nowrap;
    margin: 1.5rem;
} 
.trademark {
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    top:.5ch;
    right:-1ch;
}